html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
  font-family: "NotoSansCJKkr";
  font-weight: 400;
  line-height: 1.2;
}

body {
  min-width: 320px;
  color: #000;
}

body * {
  box-sizing: border-box;
  letter-spacing: -0.04em;
}

em,b {
  font-weight: 700;
}

hr {
  margin: 0;
  border: none;
}

button {
  font-family: "NotoSansCJKkr";
}

label {
  line-height: 1.4;
}

input, select, textarea {
  font-family: "NotoSansCJKkr";
  width: 100%;
  padding: 13px 15px 12px;
  font-size: 18px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}
input::placeholder, select::placeholder, textarea::placeholder {
  color: #BFBFBF;
  font-size: 18px;
  font-weight: 400;
}
input:focus, select:focus, textarea:focus {
  border-color: #006EFF;
}
input[type=text], input[type=number] {
  background-color: #fff;
}
input[type=checkbox], input[type=radio] {
  appearance: none;
  width: 24px;
  height: 24px;
  padding: 0px;
  border-radius: 3px;
  border: 1px solid #BFBFBF;
  background-color: #fff;
  margin: 0;
  flex-shrink: 0;
}
input[type=checkbox]:checked {
  background-image: url("../images/icons/icon_checkbox_check.svg");
  background-repeat: no-repeat;
  background-size: 14px 11px;
  background-position: center center;
}
textarea {
  resize: vertical;
}
select {
  background-color: #fff;
  cursor: pointer;
  appearance: none;
  background-image: url("../images/icons/icon_select_arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px 6px;
  background-position: calc(100% - 16px) center;
  padding-right: 30px;
}
option {
  padding: 5px 10px;
}