@charset "UTF-8";

.c-header {
  border-bottom: 1px solid #EAEAEA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1010px;
    width: 100%;
    height: 100%;
  }
  &__logo {
    width: 200px;
    height: 31px;
    background-image: url("../images/logos/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__languages {
    display: flex;
    align-items: center;
    gap: 29px;
  }
  &__language {
    position: relative;
    &:not(:last-of-type) {
      &::after {
        content: "";
        width: 1px;
        height: 10px;
        background-color: #888888;
        position: absolute;
        left: calc(100% + 16px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__languageLink {
    font-family: "Roboto";
    font-size: 16px;
    color: #888;
    &--active {
      color: #006EFF;
      font-weight: 700;
    }
    &:hover {
      color: #006EFF;
      font-weight: 700;
      transition: all .3s;
    }
  }
  &:has(.c-headerNav:hover) .c-headerNav__backdrop {
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: all .3s;
  }
  &:has(.c-headerNav:hover) .c-headerNav__menuBox2 {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
  }
  &:has(.c-headerNav:hover) .c-headerNav__logos {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
  }
}

.c-headerNav {
  max-width: 760px;
  width: 100%;
  height: 100%;
  &__menuBox {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 760px;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    position: relative;
  }
  &__menu {
    max-width: 100px;
    width: 100%;
    position: relative;
    text-align: center;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-of-type) {
      &::after {
        content: "";
        width: 1px;
        height: 10px;
        background-color: #888888;
        position: absolute;
        left: calc(100% + 16px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__menuLink {
    width: 100px;
    font-family: "Roboto";
    font-size: 16px;
    color: #888;
  }

  &__menuBox2 {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: calc(100% + 37px);
    visibility: hidden;
    opacity: 0;
  }
  &__menu2 {
    
  }
  &__menuLink2 {
    font-family: "Roboto";
    font-size: 16px;
    color: #aaa;
    &--active {
      color: #006EFF;
      font-weight: 500;
    }
  }
  &__backdrop {
    background: #F4F4F4;
    position: absolute;
    left: 0;
    top: 100%;
    height: 262px;
  }

  &__logos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: calc(100% + 29px);
    right: 50px;
    width: 100%;
    max-width: 300px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
  }
  &__logoBox {
    background-color: #EBEBEB;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height: 100px;
    padding: 25px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logoWrap {
  }
  &__logo {

  }
  &__logoTitle {
    font-family: "Pretendard";
    font-size: 500;
    font-size: 16px;
    color: #767676;
  }
}

.c-footer {
  background-color: #111833;
  padding-top: 132px;
  padding-bottom: 131px;
  &__inner {
    min-height: 357px;
    display: flex;
    align-items: center;
  }
  &__left {
    width: 100%;
    max-width: 723px;
    padding-right: 74px;
  }
  &__right {
    width: 100%;
    max-width: 857px;
    padding-left: 74px;
    border-left: 1px solid rgba(112, 112, 112, 0.3);
  }

  &__copyBox {}
  &__pluxity {
    width: 100%;
    max-width: 309px;
    height: 48px;
    background-image: url("../images/logos/logo_pluxity.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__copy {
    font-family: "Pretendard";
    font-size: 16px;
    margin-top: 13px;
    color: rgba(255,255,255,.3);
  }
  
  &__addressBox {
    margin-top: 58px;
  }
  &__address {
    font-family: "Pretendard";
    font-size: 16px;
    color: #868A97;
  }
  &__contacts {
    margin-top: 9px;
    display: flex;
    gap: 15px;
  }
  &__contact {
    font-family: "Pretendard";
    font-size: 16px;
    color: #868A97;
  }
  &__contactHr {
    width: 1px;
    height: 14px;
    background-color: #868A97;
  }

  &__infoBox {
    margin-top: 26px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__info {
    position: relative;
    &:not(:last-of-type) {
      &::after {
        content: "";
        width: 1px;
        height: 10px;
        background-color: #888888;
        position: absolute;
        left: calc(100% + 15px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__infoLink {
    font-family: "Pretendard";
    font-size: 16px;
    color: rgba(134,138,151,.7);
    &:hover {
      color: #fff;
      transition: all .3s;
    }
  }

  &__inquiryBox {
    display: flex;
    align-items: end;
    gap: 35px;
  }
  &__inquiryText {
    color: #fff;
    font-size: 35px;
  }
  &__inquiryBtn {
    max-width: 131px;
    height: 52px;
    border-radius: 30px;
    border: 1px solid #006EFF;
    width: 100%;
    color: #006EFF;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 35px 0px 27px;
    background-image: url("../images/icons/icon_gt_blue.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;
    &:hover {
      background-image: url("../images/icons/icon_gt_white.svg");
      background-color: #006EFF;
      color: #fff;
      transform: translateY(-5px);
      transition: all .3s;
    }
  }

  &__brandMedia {
    margin-top: 34px;
    border-radius: 10px;
    background-color: #1B2447;
    border: 1px solid #373F61;
    padding: 26px 80px 35px 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__brandMediaHr {
    width: 1px;
    min-height: 69px;
    background-color: rgba(112, 112, 112, 0.37);
  }
  &__brand {
    max-width: 310px;
    width: 100%;
    position: relative;
    padding-right: 20px;
  }
  &__brandMediaTitle {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    color: rgba(134,138,151,.7);
  }
  &__brands {
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
  }
  &__brandGolf {
    width: 80px;
    height: 34px;
    background-image: url("../images/logos/logo_footer_golf.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__brandSafers {
    width: 166px;
    height: 35px;
    background-image: url("../images/logos/logo_footer_safers.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__media {
    max-width: 170px;
    width: 100%;
    padding-left: 20px;
  }
  &__medias {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
  }
  &__mediaYoutube {
    width: 57px;
    height: 41px;
    background-image: url("../images/logos/logo_footer_youtube.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__mediaLinkedIn {
    width: 55px;
    height: 47px;
    background-image: url("../images/logos/logo_footer_linkedin.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.c-fixBtns {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 10;
  &__list {}
  &__btnMessage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #00C5FF;
    background-image: url("../images/icons/icon_right_message.svg");
    background-size: 34px 27px;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.16);
  }
  &__btnMail {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #006EFF;
    background-image: url("../images/icons/icon_right_mail.svg");
    background-size: 36px 25px;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.16);
  }
  &__btnUp {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("../images/icons/icon_right_up.svg");
    background-size: 24px 25px;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.16);
    border: 1px solid #DDDDDD;
  }
}

.c-modals {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  justify-content: center;
  align-items: center;
  &__backdrop {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &.active {
    display: flex;
  }
}

.c-modal {
  z-index: 2;
  width: 100%;
  max-width: 892px;
  min-height: 547px;
  background-color: #fff;
  padding: 78px 34px 43px 38px;
  position: relative;
  border-radius: 11px;
  display: none;
  &.active {
    display: flex;
  }
  &__closeBtn {
    width: 45px;
    height: 45px;
    background-image: url("../images/icons/icon_closeModal.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__inner {}
  &__title {
    font-weight: 700;
    font-size: 30px;
  }
  &__desc {
    margin-top: 9px;
    color: #585858;
    font-size: 16px;
  }
  &__listBox {
    margin-top: 46px;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    padding: 31px 35px;
    border-radius: 11px;
  }
  &__1depthBox {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__1depthList {
    color: #000047;
    font-size: 16px;
    font-weight: 700;

  }
  &__2depthBox {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__2depthList {
    font-size: 16px;
    color: #707070;
    position: relative;
    padding-left: 16px;
    font-weight: 400;
    &::before {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #427DFF;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

.c-main {
  padding-top: 88px;
}

.c-subHead {
  padding-top: 170px;
  &__title {
    font-family: "Roboto";
    font-size: 170px;
    font-weight: 500;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 10px;
      border-radius: 10px;
      background-color: #000;
      position: absolute;
      right: calc(100% + 29px);
      bottom: 36px;
    }
  }
  &__desc {
    margin-top: 36px;
    font-size: 40px;
  }
  &__ps {
    margin-top: 19px;
    font-size: 16px;
    color: #585858;

  }
}

.c-form {
  padding: 100px 133px;
  background-color: rgba(241,241,241,.5);
  border-radius: 30px;

  &__title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
  }

  &__rows {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__row {
    display: flex;
  }
  &__inputWrap {
    display: flex;
    width: 100%;
  }
  &__label {
    width: 133px;
    flex-shrink: 0;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  &__required {
    color: #006EFF;
    font-weight: 500;
  }
  &__input {}
  &__textarea {
    min-height: 319px;
    resize: none;
  }
  &__btnSubmitWrap {
    display: flex;
    justify-content: end;
    margin-top: 40px;
  }
  &__btnSubmit {
    max-width: 137px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #BDBDBD;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px 0px 30px;
    background-image: url("../images/icons/icon_gt_grey.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;
    &:hover {
      background-image: url("../images/icons/icon_gt_blue.svg");
      background-color: #006EFF;
      color: #fff;
      transform: translateY(-5px);
      transition: all .3s;
    }
  }
}

.c-formCrudBtns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 10px;

  &__btnWrap {
    max-width: 150px;
    width: 100%;
  }
  &__btn {
    max-width: 150px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #BDBDBD;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px 0px 30px;
    background-image: url("../images/icons/icon_gt_grey.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;
    &:hover {
      background-image: url("../images/icons/icon_gt_white.svg");
      background-color: #006EFF;
      color: #fff;
      transform: translateY(-5px);
      transition: all .3s;
    }
    &--delete {
      background-image: url("../images/icons/icon_gt_white.svg");
      background-color: #FF3300;
      color: #fff;
      &:hover {
        background-image: url("../images/icons/icon_gt_white.svg");
        background-color: #FF3300;
        color: #fff;
        transform: translateY(-5px);
        transition: all .3s;
      }
    }
  }
}

.c-inquiryForm {
  margin-top: 114px;
  margin-bottom: 376px;
  padding: 100px 133px;
  background-color: rgba(241,241,241,.5);
  border-radius: 30px;

  &__title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
  }
  &__tabBox {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__tabList {
    width: 33.3333%;
  }
  &__tabLabel {
    width: 100%;
    background-color: #fff;
    color: #444444;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    min-height: 65px;
    cursor: pointer;
    &:hover {
      background-color: #006EFF;
      color: #fff;
      transition: all .3s;
      & > em {
        color: rgba(255,255,255,.5);
      }
    }
    & > em {
      font-size: 18px;
      font-weight: 500;
      color: rgba(0,0,0,.3);
    }
  }
  &__tabRadio {
    display: none;
    &:checked + .c-inquiryForm__tabLabel {
      background-color: #006EFF;
      color: #fff;
      pointer-events: none;
      & > em {
        color: rgba(255,255,255,.5);
      }
    }
  }
  &__rows {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__row {
    display: flex;
  }
  &__label {
    width: 133px;
    flex-shrink: 0;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  &__required {
    color: #006EFF;
    font-weight: 500;
  }
  &__input {}
  &__textarea {
    min-height: 319px;
    resize: none;
  }
  &__checkItems {
    margin-top: 80px;
    padding-left: 143px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  &__checkList {
    display: flex;
    gap: 15px;
  }
  &__check {}
  &__checkLabel {
    color: #BFBFBF;
    font-size: 18px;
  }
  &__checkLink {
    color: #006EFF;
    text-decoration: underline;
  }
  &__btnSubmitWrap {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }
  &__btnSubmit {
    max-width: 137px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #BDBDBD;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px 0px 30px;
    background-image: url("../images/icons/icon_gt_grey.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;
    &:hover {
      background-image: url("../images/icons/icon_gt_white.svg");
      background-color: #006EFF;
      color: #fff;
      transform: translateY(-5px);
      transition: all .3s;
    }
  }
}

.c-newsDetail {
  margin-top: 157px;
  margin-bottom: 264px;
  &__title {
    padding-top: 60px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    border-top: 2px solid #EBEBEB;
  }
  &__infoBox {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  &__infoBoxHr {
    background-color: #DDDDDD;
    width: 1px;
    height: 12px;
  }
  &__category {
    color: #006EFF;
    font-size: 18px;
    font-weight: 500;
  }
  &__date {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 500;
  }
  
  &__contents {
    margin-top: 60px;
    background-color: #F7F7F7;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    padding: 20px;
    font-size: 20px;
    min-height: 1231px;
  }
  &__contentsInput {
    background-color: #F7F7F7;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    padding: 20px;
    font-size: 20px;
    min-height: 1231px;
    resize: none;
  }
  &__links {
    margin-top: 55px;
    border-top: 2px solid #DDDDDD;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__linkWrap {
    max-width: 130px;
    display: inline-flex;
    flex-direction: column;
    gap: 13px;
    &--next {
      align-items: end;
    }
  }
  &__link {
    color: #006EFF;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    &--prev {
      padding-left: 29px;
      &::before {
        content: "";
        width: 6px;
        height: 12px;
        background-image: url("../images/icons/icon_gt_blue.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 12px;
        top: 5px;
        transform: rotateY(180deg);
      }
    }
    &--next {
      padding-right: 29px;
      &::after {
        content: "";
        width: 6px;
        height: 12px;
        background-image: url("../images/icons/icon_gt_blue.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        right: 12px;
        top: 5px;
      }
    }
  }
  &__linkInfo {
    font-weight: 500;
    font-size: 16px;
    &--nothing {
      color: #AAAAAA;
    }
  }
}

.c-newsList {
  margin-top: 157px;
  margin-bottom: 351px;
  position: relative;
  &__listBox {
    border-top: 2px solid #EBEBEB;
  }
  &__empty {
    font-size: 30px;
    font-weight: 700;
    padding: 50px 20px;
    text-align: center;
  }
  .c-paging {
    position: absolute;
    top: calc(100% + 95px);
    left: 50%;
    transform: translate(-50%,0);
  }
}

.c-newsListItem {
  border-bottom: 2px solid #EBEBEB;
  &__inner {
    padding: 50px 54px 50px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    &:hover {
      .c-newsListItem__link {
        background-image: url("../images/icons/icon_gt_white.svg");
        background-color: #006EFF;
        color: #fff;
        transform: translateY(-5px);
        transition: all .3s;
      }
    }
  }
  &__contentWrap {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__thumbWrap {
    position: relative;
    width: 44.292%;
    padding-bottom: 18.519%;
    border-radius: 10px;
  }
  &__thumbImage {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__contents {
    width: 100%;
    margin-left: 45px;
    padding: 19px 0px;
    min-width: 200px;
  }
  &__category {
    font-family: "Roboto";
    color: #006EFF;
    font-size: 18px;
    font-weight: 700;
    max-width: 575px;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    max-width: 575px;
  }
  &__desc {
    margin-top: 11px;
    font-size: 16px;
    color: #585858;
    line-height: 1.688;
    max-width: 575px;
    min-height: 54px;
    word-break: break-word;
  }
  &__date {
    margin-top: 23px;
    font-size: 16px;
    font-weight: 500;
    color: #AAAAAA;
    max-width: 575px;
  }
  &__linkWrap {
    width: 100%;
    max-width: 168px;
  }
  &__link {
    max-width: 168px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #BDBDBD;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px 0px 30px;
    background-image: url("../images/icons/icon_gt_grey.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;
  }
}

.c-paging {
  display: flex;
  align-items: center;
  gap: 20px;
  &__list {
    &--first {
      margin-right: 17px;
    }
    &--last {
      margin-left: 17px;
    }
  }
  &__btn {
    color: #AAAAAA;
    font-weight: 500;
    font-size: 20px;
    &--num {
      display: inline-block;
      width: 20px;
      position: relative;
      text-align: center;
      &::before {
        content: "";
        width: 0px;
        height: 1px;
        background-color: #006EFF;
        position: absolute;
        left: 0px;
        top: calc(100% + 8px);
      }
      &:hover {
        color: #006EFF;
        transition: all .3s;
        &::before {
          width: 20px;
          transition: all .3s;
        }
      }
    }
    &--prev {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-image: url("../images/icons/icon_paging_prev.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
      &:hover {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
        background-image: url("../images/icons/icon_paging_prev_hover.svg");
        transform: translateY(-3px);
        transition: all .3s;
      }
    }
    &--next {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-image: url("../images/icons/icon_paging_next.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
      &:hover {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
        background-image: url("../images/icons/icon_paging_next_hover.svg");
        transform: translateY(-3px);
        transition: all .3s;
      }
    }
  }
}

.c-achievementHead {
  margin-top: 129px;
  &__title {
    font-family: "Roboto";
    font-size: 28px;
    color: #2E61E6;
    font-weight: 700;
  }
  &__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 52px;
    & > b {
      font-weight: 500;
    }
  }
}

.c-achievement {
  margin-top: 118px;
  margin-bottom: 186px;
  position: relative;
  &__table {
    width: 100%;
    border-top: 2px solid #2E61E6;
    col {
      &:nth-of-type(2) {
        width: 251px;
      }
      &:nth-of-type(3) {
        width: 118px;
      }
    }
    thead {
      border-bottom: 1px solid #DDDDDD;
      tr {
        height: 57px;
      }
      th {
        color: #2E61E6;
        font-size: 18px;
        font-weight: 500;
        vertical-align: middle;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        &:nth-of-type(1) {
          padding-left: 30px;
          padding-right: 30px;
        }
        &:nth-of-type(2) {
          padding-left: 0px;
          padding-right: 15px;
        }
        &:nth-of-type(3) {
          padding-left: 0px;
          padding-right: 10px;
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        height: 59px;
        border-bottom: 1px solid #DDDDDD;
      }
      td {
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px;
        &:nth-of-type(1) {
          padding-left: 30px;
          padding-right: 30px;
          font-size: 18px;
          font-weight: 700;
          color: #000;
        }
        &:nth-of-type(2) {
          padding-left: 0px;
          padding-right: 15px;
          font-size: 16px;
          font-weight: 400;
          color: #AAAAAA;
        }
        &:nth-of-type(3) {
          padding-left: 0px;
          padding-right: 10px;
          font-size: 18px;
          font-weight: 700;
          color: #DDDDDD;
          text-align: center;
        }
      }
    }
  }
}

.c-achievementBtnWrap {
  position: absolute;
  left: 50%;
  top: calc(100% + 52px);
  transform: translate(-50%,0);
  &__btn {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 700;
    padding-right: 27px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 0px;
      width: 20px;
      height: 8px;
      background-image: url("../images/icons/icon_tableMore_arrow.svg");
      background-size: 20px 8px;
      background-repeat: no-repeat;
      background-position: right center;
    }
    &:hover {
      color: #2E61E6;
      transition: all .3s;
      &::after {
        background-image: url("../images/icons/icon_tableMore_arrow_hover.svg");
        animation: dropArrow 1s ease-in-out infinite;
      }
    }
  }
}

.c-partners {
  background-color: #EBEBEB;
  padding: 105px 0px calc(148px - (155px - 105px) / 2);
  &__title {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
  }
  &__slideArea {
    margin-top: calc(80px + (155px - 105px) / 2);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.c-partnersSlide {
  &__imageWrap {
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 105px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 30px rgba(0,0,0,.16);
  }
  .splide {
    height: 105px;
    display: flex;
    align-items: center;
  }
  .splide__track {
    height: 155px;
  }
}

.c-aboutBanner {
  min-height: 992px;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    width: calc(100% + 1px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
    left: -1px;
    background-image: url("../images/about_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    filter: blur(1px);
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    top: 0;
  }
  &__inner {
    padding: 333px 0px 268px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
  }
  &__innerWrap {
    display: inline-flex;
    flex-direction: column;
  }
  &__bigLetter {
    color: #fff;
    font-size: 170px;
    font-weight: 500;
    font-family: "Roboto";
    position: relative;
    text-align: center;
    text-indent: 70px;
    &::before {
      content: "";
      width: 100%;
      height: 10px;
      border-radius: 10px;
      background-color: #fff;
      position: absolute;
      right: calc(100% - 4px);
      top: 47%;
    }
    &::after {
      content: "";
      width: 100%;
      height: 10px;
      border-radius: 10px;
      background-color: #fff;
      position: absolute;
      left: calc(100% + 67px);
      top: 47%;
    }
  }
  &__titleBoxWrap {
    display: flex;
    justify-content: end;
    padding-right: 30px;
  }
  &__titleBox {

  }
  &__title {
    margin-top: 49px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    font-family: "Roboto";
  }
  &__desc {
    margin-top: 19px;
    color: #fff;
    font-size: 16px;
    line-height: 1.75;
  }
}

.c-aboutVision {
  padding: 160px 0px;
  background-color: #fff;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 100px;    
  }
  &__item {
    padding-left: 133px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__itemTitle {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: "Roboto";
    font-weight: 700;
    color: #2E61E6;
    font-size: 50px;
  }
}

.c-visionBox {
  max-width: 916px;
  width: 100%;
  min-height: 618px;
  background-color: #F8F8F8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__imageWrap {
    overflow: hidden;
    &--vision {
      width: 302px;
      height: 302px;
      position: relative;
    }
    &--mission {
      width: 358px;
      height: 358px;
      position: relative;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &--pulse {
      animation: pulse 4s ease-in-out infinite;
      transform-origin: center center;
    }
    &--opacity1 {
      animation: fadeInOut 4s ease-in-out infinite;
    }
    &--opacity2 {
      animation: fadeOutIn 4s ease-in-out infinite;
    }
    &--rotate {
      animation: spin 2s linear infinite;
      transform-origin: center center;
    }
    &--circle1 {
      animation: circle1Fade 5s linear infinite;
    }
    &--circle2 {
      animation: circle2Fade 5s linear infinite;
    }
    &--circle3 {
      animation: circle3Fade 5s linear infinite;
    }
    &--circle4 {
      animation: circle4Fade 5s linear infinite;
    }
    &--circle5 {
      animation: circle5Fade 5s linear infinite;
    }
  }
  &__title {
    margin-top: 53px;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    &--mission {
      margin-top: 27px;
    }
  }
  &__desc {
    margin-top: 20px;
    color: #585858;
    font-size: 16px;
    text-align: center;
    line-height: 1.688;
  }
}

.c-aboutTwin {
  padding: 214px 0px 40px;
  position: relative;
  background-color: #111833;
  z-index: 1;
  &__bgTextWrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  &__bgText {
    font-size: 320px;
    font-weight: 700;
    font-family: "Roboto";
    color: rgba(0,110,255,0.1);
    position: absolute;
    top: 107px;
    left: 50%;
    transform: translate(-50%,0);
    letter-spacing: -3px;
    width: max-content;
  }
  /* &::before {
    content: "Digital Twin";
    font-size: 320px;
    font-weight: 700;
    font-family: "Roboto";
    color: rgba(0,110,255,0.1);
    position: absolute;
    top: 107px;
    left: 50%;
    transform: translate(-50%,0);
    letter-spacing: -3px;
    width: max-content;
  } */
  &__title {
    text-align: center;
    font-size: 56px;
    font-weight: 300;
    color: #fff;
    line-height: 1.5358;
  }
  &__boxes {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateY(110px);
  }
}

.c-aboutTwinBox {
  max-width: 385px;
  width: 100%;
  min-height: 420px;
  padding: 30px 45px 56px;
  background-color: #F2F2F2;
  border-radius: 30px;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__index {
    font-size: 24px;
    color: #AAAAAA;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
  }
  &__imageWrap {
    margin-top: 36px;
  }
  &__title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #111833;
    text-align: center;
  }
  &__desc {
    margin-top: 14px;
    color: #585858;
    font-size: 16px;
    line-height: 1.688;
    text-align: center;
  }
  &:not(:first-of-type) {
    &:before {
      content: "";
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-image: url("../images/icons/icon_about_twin_arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      left: -23px;
      bottom: 128px;
    }
  }
}

.c-aboutHistory {
  padding-top: 464px;
  padding-bottom: 97px;
  background-color: #fff;
  position: relative;

  &__inner {
    position: relative;
  }
  
  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &__bgCircle {
    max-width: 982px;
    width: 100%;
    height: 50%;
    max-height: 983px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -622px;
    transform: translate(-50%, 0);
  }
  &__bgLine {
    width: 1px;
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translate(-50%, 0);
    height: calc(100% - 360px);
    background-color: #DDDDDD;
    &::after {
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      background-color: #DDDDDD;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -4px;
    }
  }


  &__1depthBox {
    padding: 0px 133px;
  }
  &__1depthList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__1depthTitleBox {}
  &__1depthTitle {
    color: rgba(221,221,221,0.64);
    font-family: "Roboto";
    font-size: 293px;
    font-weight: 700;
  }
  &__1depthdesc {
    font-size: 40px;
    color: #ddd;
    margin-top: 12px;
  }

  &__2depthBox {
    margin-top: 170px;
    margin-left: 97px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  &__2depthList {
  }
  &__2depthTitleBox {}
  &__2depthTitle {
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 700;
    color: #767676;
    position: relative;
    &::after {
      content: "";
      width: 76px;
      height: 1px;
      background-color: #AAAAAA;
      position: absolute;
      top: 24px;
      right: calc(100% + 21px);
    }
    &--point {
      color: #006EFF;
      &::after {
        background-color: #006EFF;
      }
    }
  }
  &__2depthTitleCircle {
    width: 31px;
    height: 31px;
    position: absolute;
    right: calc(100% + 82px);
    top: 9px;
    &::before {
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #AAAAAA;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    &::after {
      content: "";
      width: 31px;
      height: 31px;
      border-radius: 50%;
      background-color: rgba(170,170,170,.3);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    &--point {
      &::before {
        background-color: #006EFF;
      }
      &::after {
        background-color: rgba(0,110,255,.3);
      }
    }
  }

  &__3depthBox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  &__3depthList {
    color: #585858;
    font-size: 18px;
    position: relative;
    padding-left: 23px;
    &::after {
      content: "";
      width: 7px;
      height: 7px;
      background-color: #767676;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: 6px;
    }
    &--point {
      &::after {
        background-color: #006EFF;
      }
    }
    & > em {
      color: #006EFF;
    }
    & > b {}
  }
}

.c-mainBanner1 {
  position: relative;
  min-height: 992px;
  max-height: 992px;
  overflow: hidden;
  &__textsInner {
    margin-top: -400px;
    &--video {
      margin-top: -760px;
    }
  }
  &__texts1 {
    background-color: rgba(240,240,240,.5);
    height: 352px;
    position: relative;
    overflow: hidden;
  }
  &__texts {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translate(-50%, 0);
    width: max-content;
  }
  &__textTop {
    display: flex;
    align-items: center;
    gap: 125px;
  }
  &__title1 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 170px;
    color: #000000;
    &--video {
      color: #fff;
    }
  }
  &__desc {
    font-size: 16px;
    color: #888888;
    &--video {
      color: rgba(255,255,255,.61);
    }
  }
  &__textBottom {
    display: flex;
    justify-content: end;
    position: relative;
  }
  &__title2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 170px;
    color: #000;
    &--video {
      color: rgba(255,255,255,.61);
    }
    &::before {
      content: "";
      width: 43%;
      height: 10px;
      border-radius: 10px;
      background-color: rgba(255,255,255,.8);
      position: absolute;
      left: 0;
      top: 108px;
    }
  }
  &__videoWrap {
    overflow: hidden;
    position: relative;
  }
  &__video {
    width: 100%;
    height: 674px;
    object-fit: cover;
    /* position: relative;
    top: -250px; */
  }
}

.c-mainAbout {
  background-color: #fff;
  max-height: 899px;
  overflow: hidden;
  &__inner {
    min-height: 899px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  &__about {
    margin-top: 180px;
  }
  &__title {
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 700;
    color: #006EFF;
  }
  &__desc1 {
    margin-top: 20px;
    font-size: 52px;
  }
  &__desc2 {
    margin-top: 28px;
    font-size: 16px;
    color: #585858;
  }
  &__btnDetail {
    margin-top: 70px;
    max-width: 182px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #BDBDBD;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px 0px 30px;
    background-image: url("../images/icons/icon_gt_grey.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;
    &:hover {
      background-image: url("../images/icons/icon_gt_white.svg");
      background-color: #006EFF;
      color: #fff;
      transform: translateY(-5px);
      transition: all .3s;
    }
  }

  &__cols {
    display: flex;
    gap: 29px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
}

.c-mainAboutBox {
  width: 385px;
  min-height: 420px;
  background-color: #F2F2F2;
  border: 1px solid #E7E7E7;
  border-radius: 30px;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.16);
  padding: 70px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  &__slideArea {}
  &__imageWrap {}
  &__texts {
    
  }
  &__image {}
  &__title {
    font-size: 30px;
    font-weight: 700;
    color: #111833;
    line-height: 1.4835;
  }
  &__desc {
    margin-top: 20px;
    font-size: 20px;
    color: #888888;
    line-height: 1.35;
  }
}

.c-mainBanner2 {
  background-image: url("../images/main_bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  .c-mainBanner2__effectBox {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
  }
  .c-mainBanner2__effect {
    background-color: #445262;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
  &__inner {
    max-height: 512px;
    padding-top: 303px;
    padding-left: 164px;
    display: flex;
    gap: 93px;
  }
  &__left {}
  &__right {
    transform: translateY(42px);
    font-size: 56px;
    max-width: 692px;
    width: 100%;
    line-height: 1.4461;
    position: relative;
    top: -90px;
  }
  &__title {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
  }
  &__logo {
    margin-top: 25px;
    width: 351px;
    height: 90px;
    background-image: url("../images/letter_plug.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  &__desc {}
  &__desc1 {}
  &__desc2 {
    text-align: right;
  }
  &__desc3 {
    text-align: center;
  }
}

.c-mainSmart {
  padding: 201px 0px 188px;
  background-color: #fff;
  
  &__inner {
    padding: 0px 10px;
  }

  .splide__pagination {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .splide__pagination li {
    position: absolute;
    height: calc(100% - 60px);
    &:nth-of-type(1) {
      .splide__pagination__page {
        background-color: #006EFF;
        &::after {
          content: "Smart Industry";
        }
      }
    }
    &:nth-of-type(2) {
      .splide__pagination__page {
        background-color: #0076FF;
        &::after {
          content: "Smart City";
        }
      }
    }
    &:nth-of-type(3) {
      .splide__pagination__page {
        background-color: #0058CD;
        &::after {
          content: "Digital SOC";
        }
      }
    }
    &:nth-of-type(4) {
      .splide__pagination__page {
        background-color: #004094;
        &::after {
          content: "Sports & Leisure";
        }
      }
    }
  }
  .splide__pagination__page {
    width: 66px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      font-size: 18px;
      font-family: "Rototo";
      color: #fff;
      transform: rotate(90deg);
      text-wrap-mode: nowrap;
    }
    &.is-active {
      //display: none;
    }
  }
  .splide__slide {
    &:nth-of-type(1) {
      padding-left: 66px;
      padding-right: 132px;
    }
    &:nth-of-type(2) {
      padding-left: 0px;
      padding-right: 198px;
    }
    &:nth-of-type(3) {
      padding-left: 132px;
      padding-right: 66px;
    }
    &:nth-of-type(4) {
      padding-left: 198px;
    }
  }
  [data-slide-active="0"] {
    .splide__pagination li {
      &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        left: 0px;
      }
      &:nth-of-type(3) {
        left: calc(100% - 132px);
      }
      &:nth-of-type(4) {
        left: calc(100% - 66px);
      }
    }
  }
  [data-slide-active="1"] {
    .splide__pagination li {
      &:nth-of-type(1) {
        left: calc(100% - 198px);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        left: calc(100% - 132px);
      }
      &:nth-of-type(4) {
        left: calc(100% - 66px);
      }
    }
  }
  [data-slide-active="2"] {
    .splide__pagination li {
      &:nth-of-type(1) {
        left: 0px;
      }
      &:nth-of-type(2) {
        left: 66px;
      }
      &:nth-of-type(3) {
        left: calc(100% - 132px);
        display: none;
      }
      &:nth-of-type(4) {
        left: calc(100% - 66px);
      }
    }
  }
  [data-slide-active="3"] {
    .splide__pagination li {
      &:nth-of-type(1) {
        left: 0px;
      }
      &:nth-of-type(2) {
        left: 66px;
      }
      &:nth-of-type(3) {
        left: 132px;
      }
      &:nth-of-type(4) {
        left: calc(100% - 66px);
        display: none;
      }
    }
  }
  &__link {
    &:hover {
      .c-mainSmartItem__btnDetail {
        background-image: url("../images/icons/icon_gt_white.svg");
        background-color: rgba(0,88,205,.6);
        color: #fff;
        transform: translateY(-5px);
        transition: all .3s;
      }
    }
  }
}

.c-mainSmartItem {
  position: relative;
  width: 1364px;
  height: 602px;
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(17,24,51,.5);
    z-index: 1;
  }
  &__image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__contents {
    padding-top: 327px;
    padding-left: 70px;
    position: relative;
    z-index: 1;
  }
  &__title {
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
    color: #fff;
  }
  &__desc {
    margin-top: 14px;
    font-family: "Pretendard";
    font-size: 16px;
    color: #fff;
  }
  &__btnDetail {
    margin-top: 37px;
    max-width: 182px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #BDBDBD;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px 0px 30px;
    background-color: rgba(0,0,0,0.6);
    background-image: url("../images/icons/icon_gt_grey.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;
  }
  &__titleCol {
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 18px;
    font-family: "Rototo";
    color: #fff;
    transform: rotate(90deg) translate(0,-50%);
    text-wrap-mode: nowrap;
    z-index: 1;
  }
}

.c-mainCore {
  min-height: 525px;
  padding-top: 140px;
  background-image: url("../images/main_bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &__title {
    font-size: 26px;
    font-family: "Roboto";
    font-weight: 700;
    color: #006EFF;
    text-align: center;
  }
  &__desc {
    margin-top: 6px;
    font-size: 56px;
    text-align: center;
    line-height: 1.482;
  }
  &__cores {
    width: calc(100% - 40px);
    position: absolute;
    top: 325px;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    gap: 51px;
    align-items: center;
  }
}

.c-mainCoreBox {
  max-width: 526px;
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #D4D4D4;
  &:hover {
    border-color: transparent;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.16);
    transition: all .3s;
    .c-mainCoreBox__btnDetail {
      background-image: url("../images/icons/icon_gt_white.svg");
      background-color: #006EFF;
      color: #fff;
      transform: translateY(-5px);
      transition: all .3s;
    }
  }
  &__inner {
    min-height: 531px;
    padding: 60px 35px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__imageWrap {

  }
  &__image {}
  &__texts {
    margin-top: 44px;
  }
  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 42px;
    color: #111833;
    text-align: center;
  }
  &__desc {
    margin-top: 21px;
    font-size: 16px;
    color: #585858;
    text-align: center;
  }
  &__btnDetail {
    margin-top: 67px;
    max-width: 182px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #BDBDBD;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 36px 0px 30px;
    background-image: url("../images/icons/icon_gt_grey.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 27px) center;
  }
}

.c-mainNews {
  padding-top: 486px;
  padding-bottom: 70px;
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__titleBox {
    min-width: 360px;
  }
  &__title {
    font-size: 26px;
    font-weight: 700;
    color: #006EFF;
  }
  &__desc {
    margin-top: 13px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.45;
  }
}

.c-mainNewsList {
  padding-top: 52px;
  max-width: 1024px;
  width: 100%;
  min-width: 200px;
  &__listBox {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
  &__list {
    border-bottom: 1px solid #333333;
  }
  &__link {
    display: block;
    padding-bottom: 37px;
    &:hover {
      .c-mainNewsList__contents {
        color: #006EFF;
        transition: all .3s;
        &::after {
          background-image: url("../images/icons/icon_main_news_arrow_blue.svg");
          animation: rightArrow 1s ease-in-out infinite;
        }
      }
    }
  }
  &__category {
    font-size: 27px;
    font-weight: 500;
    color: #C8C8C8;
  }
  &__contents {
    padding-right: 45px;
    margin-top: 15px;
    font-size: 27px;
    font-weight: 500;
    color: #585858;
    position: relative;
    &::after {
      content: "";
      width: 24px;
      height: 25px;
      background-image: url("../images/icons/icon_main_news_arrow_black.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      right: 16px;
      top: 4px;
    }
  }
  &__btnWrap {}
  &__btnDetail {}
}

.c-mainBrand {
  padding-top: 70px;
  padding-bottom: 172px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__titleBox {
    min-width: 360px;
  }
  &__title {
    font-size: 26px;
    font-weight: 700;
    color: #006EFF;
  }
  &__desc {
    margin-top: 13px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.45;
  }
  &__listBox {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    max-width: 1024px;
    width: 100%;
  }
}

.c-mainBrandBox {
  width: 100%;
  background-color: #EBEBEB;
  border-radius: 30px;
  border: 1px solid #D9D9D9;
  &:hover {
    border-color: transparent;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.16);
    transition: all 0.3s;
    .c-mainBrandBox__go {
      color: #006EFF;
      background-image: url("../images/icons/icon_gt_blue.svg");
      transition: all 0.3s;
    }
  }
  &__link {
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 27px 40px 40px;
    min-height: 170px;
  }
  &__titleBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 84px;
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    font-family: "Pretendard";
  }
  &__logoWrap {}
  &__logo {}
  &__go {
    font-size: 16px;
    font-weight: 500;
    font-family: "Pretendard";
    color: rgba(17,24,51,.5);
    padding-right: 40px;
    background-image: url("../images/icons/icon_gt_grey.svg");
    background-size: 6px 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }
}